.information-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    text-align: center;
    background-color: violet;
    
}
.regular-btn{
    background-color: hotpink;
    margin-bottom: 10px;
}

/* .information-container{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    background-color: palevioletred;
} */
